<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="">
    <meta name="description" content="">
	<link href="css/YJUI_Style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
</head>

<body>
<!--头部-->
<div class="indexCont">
<div class="headerCont">
	<span class="fl"><img src="images/top1.gif" width="1000" height="180"/></span>
	<div class="menu_nav clearfix">
        <ul class="nav_content">
            <li style="margin-left: -20px;"><a href="home.html">网站首页</a></li>
            <li><a href="DetectBang.html" target="target">检测爆炸</a></li>
            <li><a href="DetectBullet.html" target="target">检测子弹</a></li>
            <li><a href="DetectWhat.html" target="target">检测啥啥</a></li>
            <li><a href="HaveLook.html" target="target">观看结果</a></li>
        </ul>
	    <div class="menu_nav_right"></div>
        
	</div>   
</div>
</div>

<div class="indexCont">
	<iframe src="/demo/demo_iframe.htm" name="target" frameborder="0"></iframe>
</div>
	
<!--尾部-->
<div class="indexCont">
    <div class="footer">
        <div class="f_line_top"></div>
        <span class="f_txt">
        	<p>版权所有 北京邮电大学 Copyright© 2014 All Rights Reserved 制作维护：<a href="http://www.mycodes.net/" target="_blank">魏嘉毅</a></p>
        	<p>地址:北京邮电大学　　电话:0451-57082347</p>
        
        </span>
    </div>
</div>


</body>
</html>



